# Ignore node_modules
client/node_modules

# Ignore build outputs
client/dist
backend/target

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore IntelliJ IDEA project files
.idea/
*.iml
out/

# Ignore Maven output
backend/target/

# Ignore NPM debug file
npm-debug.log*

# Ignore environment variable files
.env